.dataTables_wrapper{
    background-color: #303030;
    padding: 20px;
    border-radius: 10px;
}
label{
    color: white;
}
.dataTables_info{
    color: white !important;
}
th{
    background-color: #3c3c3c;
    border: 1px solid #525252 !important;
}
td{
    background-color: #3c3c3c !important;
   border: 1px solid #444 !important;
   
}
#tabela_previous{
    background-color: #3c3c3c; !important;
}
#tabela_next{
    background-color: #3c3c3c; !important;
}
table{
    margin-top: 40px !important;
    margin-bottom: 20px !important;
}
input{
    border-radius: 7px;
}
 #tabela_previous {
    background-color: #3c3c3c; !important;
}
